<!DOCTYPE html>
<html lang="vi">
<head>
  <%- include('../elements/head') %>
</head>
<body>
  <%- include('../elements/header') %>
  <main>
    <%- body %>
  </main>
  <%- include('../elements/footer') %>
  <%- include('../elements/scripts') %>
</body>
</html>