<%- layout('layouts/dungcu-layout') %>
<%- include('../elements/head') %>
<body>
  <%- include('../elements/header') %>
  <%- include('../elements/nav') %>
  <main>
    <h1>Dụng Cụ</h1>
    <p>Khám phá các dụng cụ học tập chất lượng cao, giá cả hợp lý.</p>
    <section>
      <h2>Sản phẩm Dụng Cụ</h2>
      <p>Khám phá các sản phẩm dụng cụ học tập chất lượng cao.</p>
      <div class="product-list">
        <!-- Thêm danh sách dụng cụ -->
      </div>
    </section>
  </main>
  <%- include('../elements/footer') %>
</body>