<!DOCTYPE html>
<html lang="vi">
<head>
  <%- include('elements/head') %>
</head>
<body>
  <%- include('elements/header') %>
  <%- include('elements/nav') %>
  <main>
    <%- body %>
  </main>
  <%- include('elements/footer') %>
</body>
</html>