<%- layout('layouts/quatang-layout') %>
<%- include('../elements/head') %>
<body>
  <%- include('../elements/header') %>
  <%- include('../elements/nav') %>
  <main>
    <h1>Quà Tặng</h1>
    <p>Khám phá các quà tặng độc đáo và ý nghĩa.</p>
    <div class="gift-list">
      <!-- Thêm danh sách quà tặng -->
    </div>
    <section>
      <h2>Quà Tặng Nổi Bật</h2>
      <p>Khám phá các quà tặng độc đáo và ý nghĩa.</p>
      <div class="gift-list">
        <!-- Thêm danh sách quà tặng -->
      </div>
    </section>
  </main>
  <%- include('../elements/footer') %>
</body>