<%- layout('layouts/sach-layout') %>
<%- include('../elements/head') %>
<body>
  <%- include('../elements/header') %>
  <%- include('../elements/nav') %>
  <main>
    <h1>Sách</h1>
    <p>Khám phá các đầu sách hay và bổ ích.</p>
    <div class="book-list">
      <!-- Thêm danh sách sách -->
    </div>
  </main>
  <%- include('../elements/footer') %>
</body>